# Dossiers à ignorer
**/node_modules
**/.next
**/build
**/dist
**/coverage
**/.cache
**/.sass-cache
**/.vscode
**/.idea

# Fichiers à ignorer
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.env*.local
**/.DS_Store
**/Thumbs.db

# Fichiers de configuration
**/.git
**/.gitignore
**/.gitattributes
**/.editorconfig
**/docker-compose*.yml
**/Dockerfile*
**/README.md
**/LICENSE

# Fichiers de développement
**/*.md
**/*.mdx
**/*.markdown
**/*.log
**/*.swp
**/*.swo

# Fichiers de test
**/__tests__
**/*.test.*
**/*.spec.*
**/test
**/tests
**/coverage

# Fichiers de documentation
**/docs
**/documentation

# Fichiers temporaires
**/tmp
**/temp